<!DOCTYPE html>
<html lang="th">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>รายชื่อผู้ใช้งาน</title>
  <link rel="stylesheet" href="/css/eq.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap" rel="stylesheet">
  <script>
    function confirmDelete(userId) {
      if (confirm("คุณแน่ใจหรือไม่ว่าต้องการลบผู้ใช้?")) {
        window.location.href = `/users/delete/${userId}`;
      }
    }

    function confirmEdit(userId) {
      if (confirm("คุณแน่ใจหรือไม่ว่าต้องการแก้ผู้ใช้?")) {
        window.location.href = `/users/edit/${userId}`;
      }
    }

    // เรียงลำดับข้อมูลจาก ID น้อยไปมาก
    document.addEventListener("DOMContentLoaded", function () {
      const tableBody = document.getElementById("equipment-list");
      const rows = Array.from(tableBody.children);

      rows.sort((a, b) => {
        const idA = parseInt(a.dataset.id, 10);
        const idB = parseInt(b.dataset.id, 10);
        return idA - idB;
      });

      rows.forEach(row => tableBody.appendChild(row));
    });
  </script>

</head>

<body>
  <div class="background"></div>
  <div class="container">
    <h1>รายชื่อผู้ใช้งาน</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>ขื่อผู้ใข้งาน</th>
          <th>เบอร์โทร</th>
          <th>ตำแหน่ง</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="equipment-list">
        <% if (users.length > 0) { %>
          <% users.forEach(user => { %>
            <tr data-id="<%= user.id %>">
              <td><%= user.id %></td>
              <td><%= user.username %></td>
              <td><%= user.phone %></td>
              <td><%= user.role %></td>
              <td>
                <div class="action-buttons">
                  <button onclick="confirmDelete(<%= user.id %>)" class="delete-button">Delete</button>
                  <button onclick="confirmEdit(<%= user.id %>)" class="edit-button">Edit</button>
                </div>
              </td>
            </tr>
          <% }) %>
        <% } else { %>
          <tr>
            <td colspan="6" class="no-data">ไม่มีข้อมูลผู้ใช้</td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <div>
      <% if (currentPage > 1) { %>
        <a href="/users?page=<%= currentPage - 1 %>">◀ ก่อนหน้า</a>
      <% } %>
      
      <span>หน้า <%= currentPage %> / <%= totalPages %></span>
      
      <% if (currentPage < totalPages) { %>
        <a href="/users?page=<%= currentPage + 1 %>">ถัดไป ▶</a>
      <% } %>
    </div>
    
    <button class="add-button" onclick="window.location.href='/users/add'">เพิ่มผู้ใช้</button>
    <button class="back-button" onclick="window.location.href='/main'">ย้อนกลับ</button>
  </div>
</body>

</html>
